.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;

  .card {
    background: #111;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
@media (max-width: 480px) {
  .grid {
    padding: 1rem; // padding mobil üçün azalır
    gap: 1rem; // grid aralığı azalır

    .card {
      padding: 0.8rem; // card içi boşluq azalır

      h3 {
        font-size: 1rem; // başlıq ölçüsü kiçildilir
      }

      p {
        font-size: 0.9rem; // təsvir ölçüsü kiçildilir
      }

      img {
        border-radius: 4px; // kənar radius bir az kiçildilir
      }
    }
  }
}

